@charset "utf-8";
/* CSS Document */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
body{font:12px/1.14 "微软雅黑",arial,simsun;color:#333;}
table{border-collapse:collapse;border-spacing:0;}
li{list-style-type: none;}
a{text-decoration: none;color: #656565;}
input,select,textarea,button{outline:0;border:0; }
a,button{cursor:pointer;}
/* 清除浮动 */
.clearfix:after{content:"";display: block;height:0;clear: both;visibility: hidden;}
.clearfix{*zoom:1;}

.fl{float: left;}
.fr{float: right;}

img{border: 0;}







